<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/static/theme.css}"
          href="../static/theme.css"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/welcome">Personality Test</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/user/list">Results</a></li>
                <li><a href="/user/new">New survey</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container" id="listContainer">
    <br />
        <h2>Participants List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Mail</th>
                <th>List</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id.toHexString()}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.surname}"></td>
                <td th:text="${product.age}"></td>
                <td th:text="${product.mail}"></td>
                <td><a th:href="${'/user/show/' + product.id.toHexString()}">View</a> </td>
                <td><a th:href="${'/user/edit/' + product.id.toHexString()}">Edit</a> </td>
                <td><a th:href="${'/user/delete/' + product.id.toHexString()}">Delete</a> </td>
            </tr>

        </table>
    </div>

</div>

</body>
</html>